* {
  box-sizing: border-box;
}

body.accueil {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("/images/abstrait.jpg") no-repeat center/cover;
}

main.main-accueil {
  margin: 0 auto;
  width: 80%;
  background: #d6d6d35b;
  padding: 20px;
}

/* HEADER */

header.all {
  background: #662c0352;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#logo {
  width: 100%;
  max-width: 500px;
  height: auto;
  text-align: center;
}

.list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  gap: 30px;
}

.list a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(241, 237, 235);
  font-size: 16px;
}

.list a:hover {
  color: rgb(100, 180, 230);
}

/* MAIN */

/* TITRE + BARRE DE RECHERCHE */

section.tittle_search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tittle h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(179, 67, 2);
  text-align: center;
}

.search img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.search {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#site-search {
  padding: 10px;
  border: 2px solid rgb(179, 67, 2);
  border-radius: 5px;
  font-size: 16px;
}

.search button {
  padding: 10px 15px;
  background: rgb(179, 67, 2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search button:hover {
  background: rgb(134, 5, 5);
}

/* MES ARTICLES */

.h2 h2 {
  display: inline-block;
  font-size: xx-large;
  border-left: solid 7px rgb(179, 67, 2);
  text-align: center;
  padding-left: 10px;
}

section.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 30px;
}

.planete {
  width: 100%;
  height: 350px;
  border-radius: 15px;
  object-fit: cover;
}

.earth_mars {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
  width: 100%;
}

.art_one,
.art_two {
  /* border: solid 3px rgb(226, 226, 235); */
  border-radius: 15px;
  box-shadow: 1px 0px 20px 16px rgba(10, 4, 0, 0.425);
  background: rgba(243, 239, 239, 0.61);
  max-width: 600px;
  width: 100%;
}

.art_one h3 {
  text-align: center;
}

.art_two h3 {
  text-align: center;
}

.art_one:hover,
.art_two:hover {
  transform: translateY(-5px);
  box-shadow: 1px 5px 20px 20px rgb(179, 67, 2);
}

.plus {
  display: inline-block;
  margin: 15px auto;
  padding: 10px 20px;
  background: rgb(179, 67, 2);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.6s ease;
}

.plus:hover {
  background: rgb(134, 5, 5);
}

.h4 h4 {
  padding: 30px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 30px 20px;
}

.pagination button {
  padding: 10px 20px;
  background: rgb(179, 67, 2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.pagination button:hover {
  background: rgba(179, 5, 5, 0.856);
}

/* FOOTER */

footer {
  background: rgba(179, 67, 2, 0.459);
}

.footer_text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  color: white;
}

/* PAGE 2 ARTICLES */

main.main-page {
  margin: 0 auto;
  width: 80%;
  background: #d6d6d3cc;
  border-radius: 10px;
}

/* MAIN PAGE 2 ARTICLES */

hr.hr {
  width: 100%;
  color: rgba(184, 62, 6, 0.808);
}

section.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 100%;
}

.article img {
  padding: 1px;
}

#terre {
  width: 100%;
  max-height: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.social.icons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social.icons img {
  width: 28px;
  cursor: pointer;
}

.social.icons img:hover {
  transform: scale(1.2);
}

.tittle_cat {
  text-align: center;
}

h1.h1 {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-left: solid 7px rgb(179, 67, 2);
  padding-left: 10px;
}

.cat {
  text-align: center;
}

.int {
  border-left: solid 7px rgb(179, 67, 2);
  padding-left: 5px;
}

.text,
h2,
.intro,
h2 {
  padding: 5px;
}


/* PAGE "Nos articles" */

#bg_articles {
  background-color: white;
}

.tittle_page {
  text-align: center;
}

.all_items {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px; 
  justify-content: center;
}

.all_items article {
  flex: 1 1 calc(25% - 20px); /* 4 articles par ligne (25% chacun) */
  max-width: 400px; 
}

.all_items article img {
  width: 100%; 
  height: auto; 
  display: block; 
}
  





















/* PAGE 3 CONTACT */

body.body-contact {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("/images/blue.jpg") no-repeat center/cover;
}

main.main-contact {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
}

/* HEADER PAGE 3 */

header.header-contact {
  background: #1c05a377;
  min-width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#logo {
  width: 100%;
  max-width: 500px;
  height: auto;
  text-align: center;
}

.list ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.list li {
  margin: 5px;
}

.list a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(241, 237, 235);
  font-size: 16px;
}

.list a:hover {
  color: rgb(100, 180, 230);
}

/* MAIN CONTACT PAGE 3 */

.container_contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(3, 0, 10, 0.5);
  opacity: 0.8;
}

.container_contact form {
  width: 490px;
  height: 1000px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background: #1054d3c9;
  backdrop-filter: blur(30px);
  flex-wrap: wrap;
  opacity: 1;
}

.container_contact form h1 {
  color: white;
  font-weight: 700;
  line-height: 2;
  margin-top: 20px;
  width: 500px;
  text-align: center;
}

.container_contact form input {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid white;
  color: white;
  transition: border-bottom-color 0.3s ease;
}

.container_contact form input.error {
  border-bottom: 2px solid red;
}

.container_contact form input::placeholder {
  color: white;
}

.container_contact form #lastName .container_contact form #mobile {
  margin-left: 20px;
}

.container_contact form h4 {
  color: white;
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.container_contact form textarea {
  background: white;
  border-radius: 15px;
  border-bottom: 2px solid rgb(235, 225, 225);
  font-weight: 200;
  font-size: 20px;
  padding: 10px;
  outline: none;
  min-height: 90px;
  max-height: 190px;
  min-width: 490px;
  max-width: 570px;
}

.container_contact form #button {
  border: none;
  background: white;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  color: black;
  width: 200px;
  height: 60px;
  padding: 0;
  margin-bottom: 30px;
  transition: 0.3s;
}

.container_contact form #button:hover {
  background-color: rgb(10, 0, 0);
  color: white;
  transition: 0.3s ease-in-out;
}

#form-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 15px;
  display: none;
  gap: 15px;
  z-index: 9999;
  color: white;
}

#form-message.error {
  background-color: rgba(255, 0, 0, 0.9);
}

#form-message.success {
  background-color: #2ecc71;
}

#form-icon {
  width: 24px;
  height: 24px;
}

/* FOOTER */
footer.footer-contact {
  background: #1c05a377;
}

/* PAGE 4 - Système solaire */

body.body-solaire {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header.header-solaire {
  background: #5a3102d6;
}

body.body-solaire {
  background: url("/images/etoilee.jpg");
}

/* Filtre page planétarium */

#filtre-planetes {
  margin-top: 10px;
  border-radius: 20px;
  font-size: 24px;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  padding-left: 10px;
  color: white;
  background: rgba(180, 70, 1, 0.257);
}

#filtre-planetes option {
  font-size: 16px;
  background: black;
}

#titre_filtre {
  text-align: center;
}

#h1_solaire {
  display: inline-block;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  color: #be5b05;
  letter-spacing: 8px;
  text-transform: uppercase;
  border-bottom: 3px solid #a78d88;
  padding-bottom: 5px;
  margin-bottom: 40px;
  backdrop-filter: blur(3px);
}

#planetes-system {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.art {
  padding: 10px;
  width: fit-content; /* permet à un élément de prendre uniquement la place nécessaire à son contenu. */
}

.art img {
  width: 200px;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1/1; /* sert à forcer un élément à rester parfaitement carré.*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.art img:hover {
  transform: scale(1.2);
}

.planet-img {
  border-radius: 50%;
  overflow: hidden;
}

#info-planete {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 50px auto 0 auto; /* Centré horizontalement avec auto */
  max-width: 600px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ff9500;
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0 0 50px rgba(255, 149, 0, 0.5);
}

#info-planete:empty {
  display: none; /* Masqué si vide */
}

article.art {
  text-align: center;
}

/* Querries Page 1 */

@media screen and (max-width: 780px) {
  main.main-accueil {
    width: 100%;
    margin: 0;
    padding: 10px;
    max-width: 100%;
  }

  .earth_mars {
    flex-direction: column;
  }
}

/* Querries Page 2  */
@media screen and (max-width: 780px) {
  main.main-page {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

/* Querries Page 3 */

@media screen and (max-width: 780px) {
  main.main-contact {
    margin: 0;
    padding: 20px;
    width: 100%;
    max-width: 100%;
  }

  header.contact {
    min-width: 100%;
  }

  .container_contact {
    min-height: 10vh;
  }

  .container_contact form,
  #textarea {
    min-width: 100%;
  }
}

/* Querry page 5 Planetarium */
@media screen and (max-width: 768px) {
  @media screen and (max-width: 768px) {
    @media screen and (max-width: 768px) {
      #filtre-planetes {
        display: block;
        margin: 0 auto; /* Centre horizontalement */
        position: relative;
        top: 10px; /* Ajustez selon la distance sous le header */
      }
    }
  }

  #info-planet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1000;
    background-color: #fff;
  }

  .container-article #close-info {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
  }
}
